DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Se il file o la directory esistono, caricali normalmente
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]
    
    # Altrimenti, manda tutto a index.php
    RewriteRule ^ index.php [L]
</IfModule>
