DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # FORZA L'HEADER AUTHORIZATION
    # Necessario su hosting condivisi che lo rimuovono
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},E=REDIRECT_HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    
    # Se il file o la directory esistono, caricali normalmente
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]
    
    # Altrimenti, manda tutto a index.php
    RewriteRule ^ index.php [L]
</IfModule>
